#
# * Galera-related settings
#
# See the examples of server wsrep.cnf files in /usr/share/mysql
# and read more at https://mariadb.com/kb/en/galera-cluster/

[galera]
# Mandatory settings
wsrep_on                 = ON
wsrep_provider           = /usr/lib/galera/libgalera_smm.so
wsrep_cluster_name       = $MARIADB_GALERA_CLUSTER_NAME
wsrep_cluster_address    = $MARIADB_GALERA_CLUSTER_ADDRESS
binlog_format            = row
default_storage_engine   = InnoDB
innodb_autoinc_lock_mode = 2

# Allow server to accept connections on all interfaces.
bind-address = 0.0.0.0

# Optional settings
wsrep_slave_threads = 4
wsrep_sst_method=mariabackup
wsrep_sst_auth=$MARIADB_GALERA_MARIABACKUP_USER:$MARIADB_GALERA_MARIABACKUP_PASSWORD
#innodb_flush_log_at_trx_commit = 0